In [ ]:
''' --------------------- MySQL Assignment --------------------
Que1 - What is a database. Differentiate b/w ----------------
Ans - Database - A database is a systematic or organized collection of related information that is stored
in such a way that it can be easily accessed, retrieved, managed, and updated.

SQL Databases -
a) SQL databases are relational databases.
b) SQL databases use Structured Query Language (SQL) and have a predefined schema.
c) SQL databases are vertically scalable.
d) SQL databases are table based.
e) SQL databases are better for multi-row transactions.

NoSQL Databases - 
a) NoSQL databases are non-relational databases.
b) NoSQL databses have dynamic schema for unstructured data.
c) NoSQL databases are horizontally scalable.
d) NoSQL databases are document, key-value, graph, or wide-column stores.
e) NoSQL databases are better for unstructured data like documents or JSON.
'''

In [ ]:
'''Que 2 - What is DDL? Explain ------------------------
Ans - DDL - DDL means Data Definition Language. It is a language to create and modify the structure of database
objects in a database. It is a subset of SQL. It is a language used for describing data and its  relationships 
in the database.

CREATE - CREATE is a command used to create databases, tables, triggers and other database objects.
Syntax - 
CREATE DATABASE database-name;
e.g. -
CREATE TABLE student( rollno int, name varchar(20), class varchar(15));

DROP - DROP command is used to delete or remove the database objects from the SQL database.
Syntax - 
DROP DATABASE database-name;
e.g. -
DROP TABLE student;

ALTER - ALTER command is used to change or modify the existing structure of the database. It also changes the 
schema of the database.
Syntax -
ALTER TABLE table-name ADD|DROP|MODIFY column-name [datatype];
e.g -
ALTER TABLE student ADD age int;
ALTER TABLE student DROP age;
ALTER TABLE student MODIFY name varchar(30);

TRUNCATE - TRUNCATE command is used to delete all records from a table. It will also remove the space allocated for
storing the records.
Syntax -
TRUNCATE TABLE table-name;
e.g. -
TRUNCATE TABLE student;
'''

In [ ]:
'''Que3 - What is DML? Explain ----------
Ans -
DML - DML means Data Manipulation Language. It is a language used to change the existing data in the database. It
is also a subset of SQL. DML commands help us to easily access, store, modify, update and delete the existing 
records in the database. 

INSERT - INSERT command is used to insert the data or records in the database tables.
Syntax - 
INSERT INTO table-name [(col1, col2,...coln)] VALUES(val1, val2, .... valn);
e.g. -
INSERT INTO student VALUES(11, "Sumit", 10);

UPDATE - UPDATE command is used to update or modufy the existing data in the database tables.
Syntax -
UPDATE table-name SET [col-1 = val-1,........ col-n = val-n] WHERE condition;
e.g. -
UPDATE student SET class = 9 WHERE rollno > 10;

DELETE - DELETE command is used to delete record(s) from the database tables.
Syntax -
DELETE FROM TABLE table-name WHERE condition;
e.g. -
DELETE FROM student WHERE class=10;
'''

In [ ]:
'''Que 4 - What is DQL? Explain ------------
Ans -
DQL - DQL means Data Query Language. It is also a subset of SQL. It is basically used to retrieve data
from the database tables. DQL statements are used for performing queries on the data within schema 
objects.

SELECT - Select command is used to extract the specific records from the database tables.

Syntax -
SELECT (col-1, col-2,.......col-n)|* FROM table-name WHERE condition GROUP By col-name HAVING condition; 
e.g. -
SELECT * FROM student;
SELECT rollno, name FROM student;
SELECT * FROM student WHERE class=9;
'''

In [ ]:
'''Que 5 - Explain Primary key and -------------------
Ans -
Primary Key - A primary key is the column or columns that contain values that uniquely identify each row
in the table. Primary key column cannot store duplicate values. Primary key column cannot be left blank or
cannot have NULL value. There can be only one primary key in a table.

Foreign Key - The foreign key is a group of one or more columns in a database to uniquely identify another
database record in some other table to maintain the referential integrity. It is also known as the 
referencing key that establishes a relationship between two different tables in a database. A foreign key 
always matches the primary key column in another table. It is used to link two tables together.
'''

In [ ]:
'''Que 6 - Write a python code to connect MySQL ---------------------- 
Ans -
'''
import mysql.connector
mydb = mysql.connector.connect(host="localhost", user="abc", password="password")
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE school")

mydb.close()

'''
cursor() - It return a MySQLCursor() object or a subclass depending upon the passed arguments. 
Syntax - 
    cursor = connection.cursor([arg=value[, arg=value]...])

Arguments may be passed to the cursor() method to control what type of cursor to create:
a) If buffered is True, the cursor fetches all rows from the server after an operation is executed.
b) If raw is True, the cursor skips the conversion from MySQL data types to Python types when fetching rows.
c) If dictionary is True, the cursor returns rows as dictionaries. 
d) The cursor_class argument can be used to pass a class to use for instantiating a new cursor.

The returned object depends on the combination of the arguments. Examples:
a) If not buffered and not raw: MySQLCursor
b) If buffered and not raw: MySQLCursorBuffered
c) If not buffered and raw: MySQLCursorRaw
d) If buffered and raw: MySQLCursorBufferedRaw

execute() - This method executes the given database operation (query or command). The parameters found in the 
tuple or dictionary params are bound to the variables in the operation.
Syntax -
    cursor.execute(operation, params=None, multi=False)
    iterator = cursor.execute(operation, params=None, multi=True)

If multi is set to True, execute() is able to execute multiple statements specified in the operation string. It 
returns an iterator that enables processing the result of each statement. However, using parameters does not work
well in this case, and it is usually a good idea to execute each statement on its own.
'''

In [ ]:
'''Que 7 - Give the order of execution of ---------------------
Ans -
The order in which the clauses in queries are executed is as follows: -
a) FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
b) WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
c) GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.
d) HAVING: The HAVING clause is executed to remove the created grouped records that donâ€™t meet the constraints.
e) SELECT: The SELECT clause is executed to derive all desired columns and expressions.
f) ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.
g) LIMIT/OFFSET: LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.
'''